html, body{
  margin: 0;
}
h1{
  color: white;
  font-family: mr-eaves-modern, sans-serif;
  margin: 0 0;
  font-size: 12vw;
  font-weight: 300;
}
h2{
  font-family: mr-eaves-modern, sans-serif;
  color: black;
  font-weight: 300;
  font-size: 2em;
  line-height: 1em;
}
h3{
  font-family: mr-eaves-modern, sans-serif;
  font-size: 14vw;
  font-weight: lighter;
  line-height: 1em;
  margin: 0 0;
}
h4{
  color: black;
  font-family: futura-pt, sans-serif;
  font-size: 2.8vw;
  margin: 0em 0em;
  /*line-height: 3em;*/
  font-weight: lighter;
}
p {
  color: black;
  font-family: futura-pt, sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
  font-weight: 100;
}
a{
  text-decoration: none;
}
.fullpage {
  height: 100vh;
  /*-webkit-transition: height 3s;
  transition: height 3s;*/
}
.menu {
  position: absolute;
  z-index: 99;
  width: 50px;
  height: 50px;
  top: 12px;
  right: 12px;
  margin: 0;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}
.menuVert{
  position: fixed;
  width: 70px;
  margin: 0;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: rgba(0,0,0,0.15);
  z-index: 10;
}
.menuVert h2{
  display: block;
  margin: 0em .2em;
  color: black;
  border-color: white;
}
.menuVert h2:hover{
  color: white;
}
#menuVertTxt{
  text-align: center;
  width: 100%;
  position: absolute;
  margin-top: 100%;
}
.header{
  width: 100%;
  background-color: rgba(0,0,0,0.15);
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 20;
  border-bottom: 1px solid grey;
}
.header h2{
  display: inline-block;
  margin: .2em 1em;
  padding-bottom: 3px;
  color: white;
  border-color: white;
}
.header a > h2 {
  position: relative;
  color: #fff;
  text-decoration: none;
}
.header a > h2:hover {
  color: #fff;
}
.header a > h2:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.header a > h2:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
#landingPage{
  width: 100%;
  /*height: 100vh;*/
  background-color: #000;
  position: relative;
  text-align: center;
}
#landingPage p{
  color: white;
  font-family: mr-eaves-modern, sans-serif;
}
#landingPage span{
  line-height: 2em;
}
.landingCenter{
  top: 25%;
  width: 95%;
  margin: 0 auto;
  position: relative;
  z-index: 1
}
#albinJobs{
  max-height: 70%;
  right: 0px;
  bottom: 0px;
  position: absolute;
  transition: 2s;
}
#thei{
  width: 100%;
  /*height: 100vh;*/
  background-color: #e4e4e4;
  display: block;
  position: relative;
}
#thei h3{
  display: inline;
}
#theiBtn{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 5%;
}
#theiContent{
  width: 40%;
  height: 100%;
  top: 0;
  position: absolute;
  display: inline-block;
}
#albColor{
  width: 70%;
  max-width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  z-index: 10;
}
#glasses {
  display: none;
}
.in-view > #glasses{
  z-index: 11;
  top: 48.7%;
  left: 49.3%;
  width: 55%;
  max-width: 320px;
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
}
.line{
  stroke-dasharray: 42;
  stroke-dashoffset: 40;
  animation: dash 4s ease-in-out forwards 2s;
  opacity: 0;
}
.circle{
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 5s ease-in-out forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#navLines{
  display: none;
}
.in-view > #navLines{
  /*display: block;*/
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
}
#nLine{
  display: block;
  stroke-dasharray: 368;
  stroke-dashoffset: 368;
  /*367.81207275390625*/
  animation: dash 4s ease-in-out forwards 5s;
}
#theitxt{
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  display: inline-block;
  position: absolute;
}
#theiNtro{
  transform: translateY(-50%);
  width: 70%;
  top: 35%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
#theiNfo{
  text-align: justify;
  margin: 80px auto;
  position: relative;
}
#stuff{
  width: 100%;
  height: 90vh;
  background-color: #1C1C1C;
  text-align: center;
  position: relative;
  padding-top: 10vh;
}
.titleContent{
  margin-top: 20px;
  /*left: 1.5%;*/
  width: 100%;
  position: relative;
  display: block;
  text-align: center;
}
.titleContent h3 p{
  display: inline;
  /*vertical-align: bottom;*/
}
#works{
  /*height: 100vh;*/
  width: 100%;
  position: relative;
  display: block;
}
#projects{
  transform: translateX(-50%);
  left: 50%;
  width: 90%;
  position: absolute;
  display: block;
  text-align: center;
}
/*#projects:after{
  content: '';
 width: 100%;
 display: inline-block;
}*/
.proj{
  width: 30%;
  height: auto;
  background-color: #e4e4e4;
  display: inline-block;
  overflow: hidden;
  position: relative;
  filter: grayscale(70%);
  transition: all 0.5s ease;
  margin: 2px;
}
.proj:hover{
  filter: grayscale(0%);
}
.proj > img{
  width: 100%;
  vertical-align: top;
  position: relative;
  /*transition: all 0.5s ease;*/
  /*filter: blur(1px);*/
}
.proj:hover > img{
  /*filter: blur(0px);*/
}
#overlayText{
  top: 20%;
  margin: 0 auto;
  width: 90%;
  position: relative;
  display: block;
  transform: translateX(-50%);
  left: 50%;
  background-color: black;
  /*font-size: 0;*/
}
#works svg{
  position: absolute;
  z-index: -2
}
.lines {
  stroke-dasharray: 477;
  animation: draw 10s ease-in-out alternate infinite;
  opacity: 0.2;
}

@keyframes draw {
  to {
    stroke-dashoffset: 477;
  }
}
.hidden{
  display: none;
}
@keyframes blinker {
  0% { opacity: 0; }
}
.in-view > .hideAlb {
  animation-delay: 4s;
  animation: blinker 100ms alternate 5s backwards 10 ;
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fadeIn{
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:3s;
  -moz-animation-duration:3s;
  animation-duration:3s;
}
.btn14 .icon-circle {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  background: transparent;
  /*border: 4px solid black;*/
  transform: translate(-50%,-50%);
}
.btn14 .icon {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  height: 4px;
  width: 50%;
  top: 50%;
  left: 50%;
  background-color: #212121;
  border-radius: 4px;
  transform: translate(-50%,-50%);
}
.btn14 .icon:before {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #212121;
  content: "";
  top: -10px;
  border-radius: 4px;
}
.btn14 .icon:after {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #212121;
  content: "";
  top: 10px;
  border-radius: 4px;
}
.btn14.open .icon-circle {
  /*background: #fff;*/
}
.btn14.open .icon {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: transparent;
}
.btn14.open .icon:before {
  -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
          transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
}
.btn14.open .icon:after {
  -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
          transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
}
.btn14:hover {
  cursor: pointer;
}
@media screen and (max-width:600px) {
  #albinJobs{
    max-height: 55%;
  }
  #theiContent{
    width: 100%;
    height: 45%;
    top: 3%;
    display: block;
    position: relative;
  }
  #albColor{
    max-width: 48%;
    top: 45%;
  }
  .in-view > #glasses{
    top: 45%;
    max-width: 38%;
    /*max-height: 18%;*/
  }
  #theitxt{
    width: 100%;
    top: inherit;
    bottom: 0;
    height: 50%;
    display: block;
  }
  #theiNtro{
    width: 95%;
  }
  #theiNfo{
    width: 95%;
    margin-top: 1em;
  }
  .header{
    display: none;
  }
  .landingCenter{
    top: 15%;
  }
  #headline{
    font-size: 15vw;
  }
  h3{
    font-size: 25vw;
    line-height: .5em;
  }
  h4{
    font-size: 5vw;
  }
  #works{
    height: auto;
  }
  .proj{
    width: 45%;
    /*height: auto;*/

  }
}
