html, body{
  margin: 0;
}
h1{
  color: white;
  font-family: mr-eaves-modern, sans-serif;
  margin: 0 0;
  font-size: 12vw;
  font-weight: 300;
}
h2{
  font-family: mr-eaves-modern, sans-serif;
  color: black;
  font-weight: 300;
  font-size: 2em;
  line-height: 1em;
}
h3{
  font-family: mr-eaves-modern, sans-serif;
  font-size: 14vw;
  font-weight: lighter;
  line-height: 1em;
  margin: 0 0;
}
h4{
  color: black;
  font-family: futura-pt, sans-serif;
  font-size: 2.8vw;
  margin: 0em 0em;
  font-weight: lighter;
}
p {
  color: black;
  font-family: futura-pt, sans-serif;
  font-size: 3.7vh;
  margin: 0;
  font-weight: 100;
}
a{
  text-decoration: none;
  color:inherit;
}
.fullpage {
  height: 100vh;
  -webkit-transition: height 1000ms;
  transition: height 1000ms;
}
.menu {
  position: absolute;
  z-index: 6;
  width: 50px;
  height: 50px;
  top: 12px;
  right: 20px;
  margin: 0;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}
.menuVert{
  position: fixed;
  width: 90px;
  margin: 0;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: rgba(0,0,0,1);
  z-index: 5;
}
.menuVert h2{
  display: block;
  margin: 0em .2em;
  color: white;
  border-color: white;
}
.menuVert h2:hover{
  color: #404040;
}
#menuVertTxt{
  text-align: center;
  width: 100%;
  position: absolute;
  margin-top: 100%;
}
.header{
  width: 100%;
  background-color: rgba(0,0,0,0.15);
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  border-bottom: 1px solid grey;
}
.header h2{
  display: inline-block;
  margin: .2em 1em;
  padding-bottom: 3px;
  color: white;
  border-color: white;
}
.header a > h2 {
  position: relative;
  color: #fff;
  text-decoration: none;
}
.header a > h2:hover {
  color: #fff;
}
.header a > h2:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.header a > h2:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/*----------------------------------LANDING--------------------------*/
#landingPage{
  width: 100%;
  background-color: #000;
  position: relative;
  text-align: center;
}
#landingPage p{
  color: white;
  font-family: mr-eaves-modern, sans-serif;
}
#landingPage span{
  line-height: 2em;
}
.landingCenter{
  top: 25%;
  width: 95%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  transition: 2s;
}
#albinJobs{
  max-height: 70%;
  right: 0px;
  bottom: 0px;
  position: absolute;
  transition: 2s;
  z-index: 2;
}
/*----------------------------------THE I--------------------------*/
#thei{
  width: 100%;
  background-color: #e4e4e4;
  display: block;
  position: relative;
}
#thei h3{
  display: inline;
  margin-top: 1em;
}
#theiBtn{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 4%;
  z-index: 1000;
}
#theiContent{
  min-width: 40%;
  height: 100%;
  top: 0;
  position: relative;
  display: inline-block;
}
#albColor{
  max-height: 70% !important;
  /*max-width: 400px;*/
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  z-index: 10;
}
#glasses {
  display: none;
}
.in-view > #glasses{
  z-index: 11;
  top: 48.7%;
  left: 49.3%;
  max-height: 12.8%;
  max-width: 320px;
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
}
.line{
  stroke-dasharray: 42;
  stroke-dashoffset: 40;
  animation: dash 4s ease-in-out forwards 2s;
  opacity: 0;
}
.circle{
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 5s ease-in-out forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
#theitxt{
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  display: inline-block;
  position: relative;
  float: right;
}
#theiNtro{
  transform: translateY(-50%);
  width: 70%;
  top: 40%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  z-index: 99;
}
#theiNfo{
  text-align: justify;
  margin: 5% auto;
  position: relative;
}
#stuff{
  width: 100%;
  height: 90vh;
  background-color: #1C1C1C;
  text-align: center;
  position: relative;
  padding-top: 10vh;
}
.titleContent{
  margin-bottom: .5em;
  /*left: 1.5%;*/
  width: 100%;
  position: relative;
  display: block;
  text-align: center;
  z-index: 2;
}
.titleContent h3{
  font-size: 20vh;
  line-height: .7em;
}
/*----------------------------------WORKS--------------------------*/
#works{
  width: 100%;
  position: relative;
  display: block;
}
#projects{
  width: 80%;
  max-width: 1000px;
  position: absolute;
  display: block;
  text-align: center;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}
.proj{
  width: 33%;
  display: inline;
  overflow: hidden;
  position: relative;
  filter: grayscale(70%);
  transition: all 0.5s ease;
  cursor: pointer;
}
.proj:hover{
  filter: grayscale(0%);
}
.proj > img{
  max-height: 100%;
  max-width: 100%;
  transition: all 1.5s ease;
}
#overlayText{
  top: 0; bottom: 0; left: 0; right: 0;
  position: fixed;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  z-index: 1001;
}
#overlayText p{
  font-size: 1.2em;
  display: inline;
  line-height: 1.2em;
}
#overlayText span{
  font-weight: 500;
  display: block;
  text-decoration: underline;
  line-height: 1.5em;
}
#overlayText h4{
  background-color: #e4e4e4;
  text-align:center;
  line-height: 1.5em;
  margin-bottom: .5em;
  /*text-transform: uppercase;*/
}
.projCont{
  width: 80%;
  margin: 3% auto;
}
.projImg{
  width: 100%;
  /*height: 300px;*/
  overflow: hidden;
  text-align: center;
}
.projCont img{
  width: 100%;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
}
#noBoring{
}
#projInfo{
  width: 70%;
  /*height: inherit;*/
  background-color: white;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 2%;
  /*top: 50%;*/
  /*margin: 0 auto;*/
  display: block;
  position: absolute;
  overflow-y: scroll;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*----------------------------------CONTACT--------------------------*/
#contact{
  height: 70vh;
  background-color: #e4e4e4;
}
.socialIcons{
  position: relative;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}
.socialIcons a{
  display: inline-block;
  margin: 20px 20px;
}
.socialIcons p{
  font-size: 1em;
}
@keyframes draw {
  to {
    stroke-dashoffset: 477;
  }
}
.hidden{
  display: none;
}
@keyframes blinker {
  0% { opacity: 0; }
}
.in-view > .hideAlb {
  animation-delay: 6s;
  animation: blinker 2s alternate 5s backwards;
}
@keyframes slider {
  0% {margin-left: -1em;}
}
.in-view > .islide{
  margin-left: 0em;
  animation: slider 3s backwards 3s;
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fadeIn{
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:3s;
  -moz-animation-duration:3s;
  animation-duration:3s;
}
.btn14 .icon {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  height: 4px;
  width: 50%;
  top: 50%;
  left: 50%;
  background-color: rgba(0,0,0,0.5);
  border-radius: 4px;
  transform: translate(-50%,-50%);
}
.btn14 .icon:before {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: rgba(0,0,0,0.5);
  content: "";
  top: -10px;
  border-radius: 4px;
}
.btn14 .icon:after {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: rgba(0,0,0,0.5);
  content: "";
  top: 10px;
  border-radius: 4px;
}
.btn14.open .icon {
  background-color: #fff;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: transparent;
}
.btn14.open .icon:before {
  background-color: #fff;
  -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
          transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
}
.btn14.open .icon:after {
  background-color: #fff;
  -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
          transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
}
.btn14:hover {
  cursor: pointer;
}

/*.close{
  top: 5px;
  right: 5px;
  position: absolute;
  cursor: pointer;
  z-index: 1002;
}*/
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  z-index: 1002;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #000;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
/*----------------------------------------HOVERS----------------------------------------*/
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-hang, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../pics/albLoad.gif') 50% 50% no-repeat rgb(249,249,249);
  background-size: auto;
}
@media screen and (max-width:600px) {
.loader{
  background-size: contain;
}
  .menu{
    right: 2px;
  }
  .btn14.open{
    right: 20px;
  }
  #albinJobs{
    max-height: 55%;
  }
  #theiContent{
    width: 100%;
    height: 45%;
    top: 3%;
    display: block;
    position: relative;
  }
  #albColor{
    max-width: 48%;
    top: 35%;
  }
  .in-view > #glasses{
    top: 35%;
    left: 49.7%;
    max-width: 38%;
  }
  #theitxt{
    width: 100%;
    top: inherit;
    bottom: 4%;
    height: 55%;
    display: block;

  }
  #theiNtro{
    width: 95%;
  }
  #theiNfo{
    width: 95%;
    /*margin-top: 2em;*/
  }
  #theiNfo p{
    font-size: 3vh;
  }
  .header{
    display: none;
  }
  .landingCenter{
    top: 15%;
  }
  #headline{
    font-size: 15vw;
  }
  h3{
    font-size: 25vw;
    line-height: .5em;
  }
  h4{
    font-size: 5vw;
  }
  .titleContent h3{
    font-size: 15vh;
  }
  #projects{
    width: 100%;
    font-size: 12px;
  }
  .proj{
    width: 48%;
    height: auto;
    display: inline-block;
    filter: grayscale(0%);
  }
  #overlayText p{
      font-size: 1.2em;
  }
#projInfo{
    width: 95%;
    transform: translate(-50%,-50%);
    top: 55%;
  }
  #contact{
    height: 100vh;
  }
  .socialIcons a{
    display: block;
  }
  .projCont{
    margin: 12% auto;
  }
}
